* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("valentines-rsquo-hearts-border-plasticine-clay-diy-craft.jpg");
    background-position: center;
    background-size: cover;
    padding: 3rem 2rem 2rem 2rem;
}

.cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.3;
    z-index: -1;
    top: 0;
    left: 0;
}

.uni-text {
    color: #fff;
    text-align: center;
    z-index: 10;
    line-height: 1.3;
}

.img-container {
    width: 300px;
    margin: 40px auto;
}

.hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    z-index: 10;
    opacity: 0; /* Inicia invisível */
    transition: opacity 1s ease; /* Transição suave de 1s */
}

.hero-img.show {
    opacity: 1; /* Torna visível */
}

.citacao {
    font-style: italic;
    color: white;
    text-align: center;
    font-weight: normal;
    z-index: 10;
    opacity: 0;
    transition: opacity 1s ease;
}

.citacao.show {
    opacity: 1;
}

.btn {
    display: block;
    border: none;
    margin: auto;
    margin-top: 20px;
    padding: 16px;
    font-family: serif;
}
